@charset "UTF-8";
body h1 {
  text-align: center;
  height: 100%;
}

#border {
  position: relative;
  width: 80%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid red;
}

#up {
  position: absolute;
  top: 10px;
  left: 10px;
}

#down {
  position: absolute;
  top: 20px;
  left: 20px;
}


